@model IEnumerable<Hector.Stories.Story>

@{
    ViewData["Title"] = "Home Page";
}

<canvas id="burnup"></canvas>

<section id="velocity">
    <label class="lead">
        This team delivers about
        <span class="value">...</span>
        stories per sprint.
    </label>
</section>

@section scripts {
    <script>
        var stories = [
            @foreach (var story in Model.OrderBy(c => c.Id)) {
                <text>
                    {
                        id: @story.Id,
                        created: new Date("@story.Created.ToShortDateString()"),
                        closed: @Html.Raw(story.Closed.HasValue ? "new Date(\"" + story.Closed.Value.ToShortDateString() + "\")" : "null")
                        },
                </text>
            }
        ];

        var b = new burnup(trend,
            stories,
            new Date('@ViewBag.FromDate'),
            new Date('@ViewBag.ToDate')
        );
        b.render(document.getElementById("burnup"));
        $("#velocity .value").text(Math.round(b.velocity()));
    </script>
}